<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpaceHub 관리자</title>
</head>
<body>
    <div>
        <!-- 회원 정보를 찾을 수 없는 경우 -->
        <div th:if="${!state}">
            <p th:text="${message}"></p>
        </div>

        <!-- 관리자 정보를 찾을 수 있는 경우 -->
        <div th:if="${state}">
            <h1>관리자 상세 정보</h1>
			<p>관리자번호: <span th:text="${admin.admNo}"></span></p>
            <p>아이디: <span th:text="${admin.admId}"></span></p>
            <p>이름: <span th:text="${admin.admName}"></span></p>
            <p>이메일: <span th:text="${admin.admEmail}"></span></p>
            <p>전화번호: <span th:text="${admin.admPhone}"></span></p>
            <p>입사일자: <span th:text="${formattedDate_create}"></span></p>
            <p>재직상태: <span th:text="${admin.admState}"></span></p>
            <p>퇴사일자:<span th:text="${formattedDate_update}"></span></p>
        </div>
        
    </div>
    
    
    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/admin/adminManage/adminDetail.js"></script>
</body>
</html>
