<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpaceHub</title>
    <link rel="stylesheet" href="/css/client/mypage/userProfile.css">
</head>
<body>
    <h1>마이페이지</h1>
    <div th:if="${isLoggedIn}">
        <div id="profile">
            <p>이름: <span th:text="${member.memberName}"></span></p>
            <p>아이디: <span th:text="${member.memberId}"></span></p>
            <p>이메일: <span th:text="${member.memberEmail}"></span></p>
            <p>전화번호: <span th:text="${member.memberPhone}"></span></p>
            <p>가입일자: <span th:text="${formattedDate}"></span></p>
        </div>

        <div class="buttons">
            <button type="button" id="userProfileUpdateFormBtn">개인정보 수정</button>
            <button type="button" id="userDeleteBtn">회원 탈퇴</button>
        </div>
    </div>

    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/client/mypage/userProfile.js"></script>
</body>
</html>
