<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpaceHub 관리자</title>
</head>
<body>
    <div>
        <!-- 회원 정보를 찾을 수 없는 경우 -->
        <div th:if="${!state}">
            <p th:text="${message}"></p>
        </div>

        <!-- 회원 정보를 찾을 수 있는 경우 -->
        <div th:if="${state}">
            <h1>회원 상세 정보</h1>
			<p>회원번호: <span th:text="${member.memberNo}"></span></p>
            <p>아이디: <span th:text="${member.memberId}"></span></p>
            <p>이름: <span th:text="${member.memberName}"></span></p>
            <p>이메일: <span th:text="${member.memberEmail}"></span></p>
            <p>전화번호: <span th:text="${member.memberPhone}"></span></p>
            <p>가입일자: <span th:text="${formattedDate_create}"></span></p>
            <p>상태: <span th:text="${member.memberState}"></span></p>
            <p>탈퇴일자:<span th:text="${formattedDate_update}"></span></p>
        </div>
        
        <div></div>
    </div>
</body>
</html>
