<!DOCTYPE html>
<html lang="ko">
<head>
<link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet" />
<th:block th:insert="~{template/admin/fragments/adminNav :: config}"></th:block>
</head>
<body>
	<div class="container mt-4">
		<h1>관리자 예약 관리</h1>
		<div class="admin-nav">
			<th:block
				th:insert="~{template/admin/fragments/adminNav :: admin-nav}"></th:block>
		</div>
		<!-- 필터 및 검색 -->
		<div class="row mb-3">
			<div class="col-md-4">
				<select class="form-select" id="searchType">
					<option value="name">예약자명</option>
					<option value="date">예약 날짜</option>
				</select>
			</div>
			<div class="col-md-4" id="textArea">
				<input type="text" class="form-control" id="searchKeyword"
					placeholder="검색어를 입력하세요">
			</div>
			<div class="col-md-4" id="dateArea">
				<input type="date" class="form-control" id="startDate" />
			</div>
			<div class="col-md-4">
				<button class="btn btn-primary" id="searchButton">검색</button>
			</div>
		</div>

		<!-- 날짜 필터 -->
		<div class="mb-3">
			<label for="datePeriodSelect" class="form-label">기간 선택:</label> <select
				id="dateFilter" class="form-select">
				<option value="ALL">전체보기</option>
				<option value="1M">1개월</option>
				<option value="3M">3개월</option>
				<option value="6M">6개월</option>
				<option value="1Y">1년</option>
			</select>
		</div>

		<!-- 예약 목록 테이블 -->
		<table class="table table-hover">
			<thead>
				<tr>
					<th>예약 번호</th>
					<th>예약자명</th>
					<th>예약일자</th>
					<th>상태</th>
					<th>상세보기</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="reservation : ${reservations}">
					<td th:text="${reservation.resNo}"></td>
					<td th:text="${reservation.resName}"></td>
					<td
						th:text="*{#temporals.format(reservation.resStartTime, 'yyyy-MM-dd')}"></td>
					<td th:text="${reservation.resState}"></td>
					
				</tr>
			</tbody>
		</table>

		<!-- 예약이 없을 때 표시 -->
		<div th:if="${reservations.isEmpty()}">
			<p>예약 정보가 없습니다.</p>
		</div>
	</div>

	<script src="/js/jquery-3.7.1.min.js"></script>
	<script>
		$("#searchType").on("change", function() {
			if ($("#searchType").val() != "date") {
				$("#dateArea").hide();
				$("#textArea").show();
				$("#searchKeyword").val("");
				$("#searchKeyword").focus();
			}
			if ($("#searchType").val() == "date") {
				$("#textArea").hide();
				$("#dateArea").show();
			}
		});
	</script>
</body>
</html>